<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
<connectionStrings>
  <add name="conexion1" connectionString="Server=CLOUD-PC;Database=GICR;Trusted_Connection=True;"
    providerName="System.Data.SqlClient" />
  <add name="GICRConnectionString1" connectionString="Data Source=CLOUD-PC;Initial Catalog=GICR;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>